body {
	background-color: #ff9966;
	padding: 0 30%;
}
p.important {
	background-color: white;
	font-size: 60px;
	font-family: "KA-BLAMO!", sans-serif;

}

h1	{
	font-size: 60px;
	font-family: "KA-BLAMO!", sans-serif;

}

@font-face {
	font-family: "KA-BLAMO!";
	src: url("assets/KA-BLAMO!.ttf")

}

body {
	text-align: center;
	background-image: url();
	
}

div {
	background-color: blue;
	width: 25em;
	max-height: 5em;
	padding: 2em 0em;

}

img {
	margin-bottom: 1em;
}

